body {
    margin: 0;
    font-family: Roboto, sans-serif;
}
p {
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
/* *header */

.header-section {
    background-color: #1F2937;
    padding: 10px 450px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    flex-shrink: 0;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero > * {
    flex: 1;
}

.hero-container {
    padding-right: 50px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-subtitle {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.signup-button {
    margin: 10px 0;
    background-color: #3882F6;
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
}
/* *info section */
.info-section {
    padding: 0 550px 100px 550px;
}
.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.info-items {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.info-image {
    height: 160px;
    width: 160px;
    border: 0.2em solid #3882F6;
    border-radius: 15px;
}

.info-image > img {
    height: 160px;
    width: 160px;
    border-radius: 10px;
}

.info-image-subtext {
    margin: 15px 0 0 0;
    color: slategrey;
    width: 160px;
}

/* *quote section */

.quote-section {
    background-color: #E5E7Eb;
    padding: 100px 550px;
}

.quote-content {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-weight: 800;
    font-size: 18px;
    text-align: right;
}

/* *cta section*/